@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito", sans-serif;
}

.custom-card-image .card.image-full:before {
    border-radius: 0.5rem;
    opacity: 0.5;
}
